# Overview of Past, Current, Future MOS Survey Projects
___
Data scrapping of sorts was performed to gather information regarding the various MOS (multi-object spectroscopic) Projects.  The associated tabular data is stored in csv files for optimal file sharing and usability.  Another notebook will employ data from dictionaries/json files.

## Import Necessary Python Packages/Libraries and Set Options

In [ ]:
import pandas as pd
import pint #pandas utility to add units
pd.set_option("display.max.columns", None)
%matplotlib inline

## Create Visually Appealing Table Style

In [165]:
def pretty_table(styler):
    #styler.set_caption("MOS General Properties")
    #styler.background_gradient(axis=None, cmap="Purples")
    headers = {
    'selector': 'th:not(.index_name)',
    'props': 'background-color: #000066; color: white;'}
    cell_hover = {  
    'selector': 'tr:hover',
    'props': [('background-color', '#ffffb3')]}
    # above is set for row hover; for column hover use <td> instead of <tr>
    styler.set_table_styles([headers,cell_hover])
    return styler
def highlight_rows(row):
    value = row.loc['Instrument']
    if value.name == 'MSE-baseline':
        color = '#DCD3FF' # Light purple
    return ['background-color: {}'.format(color) for r in row]

## Read in MOS Tablular Data Files
### MOS General Properties Overview:

In [166]:
mos_general = pd.read_csv('MOS_Surveys_Table_General_Properties.csv')
#Remove index and appropriately format the data columns 'M1_Aperture_m' and 'FOV_deg2' 
mos_general.style.format(precision=2).hide().pipe(pretty_table)
#mos_general.style.format(precision=2).hide().pipe(pretty_table).apply(highlight_rows, axis=1)
#mos_general.style.format(precision=0,formatter={'M1_Aperture_m': "{:.2f}", 'FOV_deg2': "{:.2f}"})

### MOS Specific Properties Overview:

In [151]:
mos_specific = pd.read_csv('MOS_Surveys_Table_Specific_Properties.csv')
mos_specific.style.hide().pipe(pretty_table)

### MOS Etendue Tablular Data:

In [154]:
etendue = pd.read_csv('MOS_Surveys_Table_Etendue.csv')
etendue.style.hide().pipe(pretty_table).format(precision=2)
#type(etendue) #verification of pandas dataframe

In [163]:
merged = mos_specific.merge(etendue,on='Instrument')
merged.style.hide().format(precision=2)

In [164]:
merged.plot(x="Wavelength_Coverage_Regime_nm", y='Etendue',kind='barh')

KeyError: 'Etendue'